.App {
  padding: 80px;
  text-align: center;
}

.button_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

@media screen and (max-width: 840px) {
  .App {
    padding: 20px;
  }
}
